# Git
.git
.gitignore

# Virtual Environment
venv/
env/
.env_venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env
*.env

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Local databases
*.sqlite3
content_bot.db

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# OS specific files
.DS_Store
Thumbs.db
