# Telegram Bot Token
BOT_TOKEN=ТВОЙ_ТОКЕН

# Твой Telegram ID
ADMIN_ID=ТВОЙ_АЙДИ

# Groq API Key
GROQ_API_KEY=gsk_your_key_here

# Groq Model
GROQ_MODEL=llama-3.1-8b-instant

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgrespassword@db:5432/ai_content_bot

# Unsplash API (для фото)
UNSPLASH_ACCESS_KEY=your_unsplash_access_key
